/*
	ScrollBar Styles
*/

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}


.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: #f6f6f6;
}

.jScrollPaneDrag {
	position: absolute;
	background: #ec444f;
	cursor: pointer;
	overflow: hidden;
	//left:1px;
	height: 22px;
}

.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: url(/images/img_scroll/scrollDragTop.png) no-repeat;
	height: 3px;
}

.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background: url(/images/img_scroll/scrollDragBot.png) no-repeat;
	height: 3px;
}

a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 2px;
	background: url(/images/img_scroll/arrow_up.png) no-repeat;
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	height: 2px;
	background: url(/images/img_scroll/arrow_down.png) no-repeat;
}