
.video-background{
    background: url('../video/ezgif-1-e71f30909b.gif');
    padding: 20%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:600px){
    .video-background{
        padding: 40%;
    }
}
@media(max-width:400px){
    .video-background{
        padding: 50%;
    }
}